
#skills {
    display: flex;
    position: absolute;
    top: 184%;
    left: 15%;
    width: 80vw;
}

.texts_skills  h2 {
    font-size: 70px;
    opacity: 50%;
}

.hab-skills {
    display: flex;
    position: absolute;
    top: 140%;
    left: 19%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill-line-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.WebDev {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    margin-right: 20px;
    transition: 1s ease all;
}

.WebDev:hover {
    background: rgb(0, 174, 255);
}

.WebDev p {
    margin-left: 10px;
}

.Js {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(162, 0, 255);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    margin-right: 20px;
    transition: 1s ease all;
}

.Js:hover {
    background: rgb(162, 0, 255);
}

.Js p {
    margin-left: 10px;
}

.React {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    transition: 1s ease all;
}

.React:hover {
    background: rgb(0, 174, 255);
}

.React p {
    margin-left: 10px;
}

.skill-line-2 {
    display: flex;
    flex-direction: row;
}

.GG {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(162, 0, 255);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    margin-right: 20px;
    transition: 1s ease all;
}

.GG:hover {
    background: rgb(162, 0, 255);
}

.GG p {
    margin-left: 10px;
}

.Boot {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    margin-right: 20px;
    transition: 1s ease all;
}

.Boot:hover {
    background: rgb(0, 174, 255);
}

.Boot p {
    margin-left: 10px;
}

.SQL {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(162, 0, 255);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    transition: 1s ease all;
}

.SQL:hover {
    background: rgb(162, 0, 255);
}

.SQL p {
    margin-left: 10px;
}

@media screen and (min-width: 1462px) {
    
}

@media screen and (max-width: 500px) {
    #skills {
        display: flex;
        position: absolute;
        top: 120%;
    }
    
    .WebDev {
        border: none;
    }

    .WebDev:hover {
        background: none;
    }

    .React {
        border: none;
    }

    .React:hover {
        background: none;
    }

    .GG {
        border: none;
    }

    .GG:hover {
        background: none;
    }

    .Js {
        border: none;
    }

    .Js:hover {
        background: none;
    }

    .SQL {
        border: none;
    }

    .SQL:hover {
        background: none;
    }

    .Boot {
        border: none;
    }

    .Boot:hover {
        background: none;
    }

    .skill-line-1 {
        flex-direction: column;
        border: 2px solid rgb(0, 174, 255);
        border-radius: 15px;
        transition: all 1s ease;
        margin-left: 7em;
    }

    .skill-line-1:hover {
        background: rgb(0, 174, 255);
    }

    .skill-line-2 {
        flex-direction: column;
        border: 2px solid rgb(162, 0, 255);
        border-radius: 15px;
        transition: all 1s ease;
        margin-left: 7em;
    }
    
    .skill-line-2:hover {
        background: rgb(162, 0, 255);
    }
}