.nav {
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    /* background: rgb(33, 0, 63); */
  }
  
  ul {
    list-style-type: none; /* tira as bolinhas da frente da lista */
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
  }
  
  li {
    display: inline;
    float: right;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 110px;
    transition: 1s ease all;
    text-align: center;
    align-items: center;
  }

  h3 a {
    width: 150px;
  }

  ul a:hover {
    color: white;
    /* background-image: linear-gradient(to top, rgba(138, 43, 226, .5), rgb(0, 0, 0)); */
    border-bottom: 1px solid #8a2be2;
  }

  @media screen and (min-width: 1462px) {
    
  }

  @media screen and (max-width: 700px) {
    .nav {
      position: relative;
      right: 15em;
      width: 200%;
    }

    ul a {
      margin-top: 15px;
    }
  }